/************************************************************************ 953px以上 ***********************************************/
@media screen and (min-width: 768px) {
    html{
        font-size: 16px;
    }

    /* main */
    .mdup_row{
        flex-direction: row;
    }
    .mdup_row-reverse{
        flex-direction: row-reverse;
    }
    .aboutImg{
        /* 寬高比 1:1 */
        width: 38%;
        padding-top: 38%;
    }
    .aboutContent{
        width: 58%;
        padding-top: 0;
    }

}
/* ***************************************************************************  1200以上 ********************************************* */
@media screen and (min-width: 1201px) {
    html{
        font-size: 18px;
    }
}
/* ************************************************************************* End ********************************************************************************************/